h2 {
    width: 200px;
    background-color: aliceblue;
}

#one {
    border-color: rgb(40, 21, 58);
    border-width: 4px;
    border-style: dashed;
    background-color: rgb(34, 222, 222);
}

#two {
    border: medium dashed green;
    background-color: rgb(249, 246, 36);
    padding-top: 20px;
    padding-left: 20px;
    margin-left: 30px;
}

#three {
    border: medium dashed green;
    background-color: rgb(249, 246, 36);
    border-radius: 10%;
}