body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 6em;
    text-align: center;
}

nav {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}

ul,
li {
    display: inline;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    justify-content: space-between;
    border: solid red 1px;
    flex-grow: 1;
    max-width: 50%;
    /* padding-top: 30px;
    padding-bottom: 30px;*/
}

/* 
stacking to get multiple colors over different ranges, other option would have been to use AND */
@media (min-width: 1000px) {
    h1 {
        color: brown;
    }
}

@media (max-width: 768) {
    h1 {
        color: rgb(75, 51, 147);
    }
}

@media (max-width: 576px) {
    h1 {
        color: rgb(165, 42, 42);
        font-size: 3rem;
    }

    nav,
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}

@media (orientation : landscape) {
    body {
        background-color: yellow;
    }

}