/* universal selector is there, but not very useful as everything will have the same property!
* {
    background-color: cyan;
} */

h1,
h2 {
    color: brown;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    font-size: 30px;
    background-color: aliceblue;
}

a {
    font-style: oblique;
}

/* we could use ids to speficially apply styles to specific elements even if there were many of those sort for e.g. style a specifc button outof 10 buttons */
#firstvotebutton {
    background-color: brown;
}

/* applying styles to span actually applied to everything including the 'posted by' paras, we only want this for tags, so we use class  */
span {
    background-color: rgb(220, 237, 245);
}

.tag {
    background-color: crimson;
    color: azure;
    font-size: 20px;
}

li a {
    color: brown;
}

/* adjacent selector */
h2+button {
    color: rgb(212, 24, 33);
}

/* direct desecentant selector */

section>span {
    background-color: darksalmon;
}

/*pseudo classes */
button:hover {
    background-color: rgb(51, 53, 117);
    text-decoration-style: double;
}

/* pseudo element */
h2::first-letter {
    font-size: 40px;
    color: rgba(0, 191, 255, 0.685);
}

::selection {
    color: rgb(27, 71, 71);
}