body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

#container {
    background-color: blanchedalmond;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid olive;
    display: flex;
    flex-direction: row-reverse;
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

#container div {
    width: 200px;
    height: 200px;
    border: solid 2px;
}

main {
    width: 80%;
    height: 500px;
    border: 5px solid black;
    display: flex;

}

main .sidebar {
    background-color: azure;
    border: 2px solid rgb(185, 21, 21);
    flex: 2 1 250px;
}

main .maincontent {
    background-color: blue;
    flex: 1 2 500px;
}